.title{
    background-color : rgb(229, 229, 229);
    text-align: center;
}

dl dt{
    margin-bottom : 10px;
}

dl dd{
    margin-bottom : 10px;
}

.subtitle{
    font-weight : bold;
    font-size : 25px;
}

.subtitle a{
    text-decoration: none;
    color : black;
}

dd{
    margin-left : 0px;
}

p > span{
    font-size : 25px;
    font-weight : bold;
}